@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The Microsoft privacy policy may be viewed here: <a class="footer-link" href="https://go.microsoft.com/fwlink/?LinkId=521839" target="_blank">Privacy &amp; cookies</a></p>
